PORT=5000
MONGO_URI=mongodb://root:root@mongo:27017/app_estudo?authSource=admin
FRONT_END=http://localhost:5173
API_URL=http://localhost:5000
JWT_SECRET=troque-esta-chave
FFMPEG_PATH=/usr/bin/ffmpeg
GROQ_API_KEY=coloque-sua-chave-aqui